body{
  color: blue;
}

h2.intro{
  font-size: 20px;
  text-align: center;

}

p.intro{
  font-style: italic;
  font-weight: bold;
}

img.intro{
  border-color: teal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.intro{
  color: red;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
